html, body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  background-color: #212121;

  place-items: center;
}

#overlay {
  position: fixed;

  width: 100%;
  height: 100%;

  padding: 2vmin;
}

input {
  display: none;
}

#inputBtn {
  background: transparent;
  border: none;

  font-size: 48px;
  color: white;
}